In [39]:
prices = [298, 305, 320]

In [40]:
#Scenario 1: What is the price on day 3
prices[2]
"""
index lookup  = O(1) - One time execution
"""

'\nindex lookup  = O(1) - One time execution\n'

In [41]:
#Scenarion 2: On what day was 301
for i in range(len(prices)):
    if prices[i] == 301:
        print(i)
"""
Lookup by value = O(n) - Iteration
"""

'\nLookup by value = O(n) - Iteration\n'

In [42]:
#Scenario 3: Print all the prices
for price in prices:
    print(price)
"""
Printing all the values = O(n) - Iteration
"""

298
305
320

'\nPrinting all the values = O(n) - Iteration\n'

In [43]:
#Scenario 4: Insertion of new price at index 1
prices.insert(1, 300)
"""
Value of new insertion - O(n)
This is because we have to refactor the index of the n values(wrapping around)
"""

'\nValue of new insertion - O(n)\nThis is because we have to refactor the index of the n values(wrapping around)\n'

In [44]:
print(prices)

[298, 300, 305, 320]

In [45]:
#Scenario 5: Value deletion at index 1
prices.remove(300)
"""
Value of new insertion - O(n)
Reverse wrap around
"""

'\nValue of new insertion - O(n)\nReverse wrap around\n'

In [46]:
#Dimensional arrays examples

#1D
number = [1, 2, 3]
#2D
number = [[1, 2, 3], [4, 5, 6]]
#3D
number = [[[1, 2, 3], [4, 5, 6]],[[1, 2, 3], [4, 5, 6]]]

ASSIGNMENT

In [47]:
expenses = [
    ("January", 2200),
    ("February", 2350),
    ("March", 2600),
    ("April", 2130),
    ("May", 2190)
]

In [48]:
#Question 1 - In Feb how many dollars you spend extra compared to January
difference = expenses[1][1] - expenses[0][1]
difference

150

In [49]:
#Question 2 - Find the total for the first three months
total = 0
for index, (month, expense) in enumerate(expenses):
    if index < 3:
        total += expense
    else:
        break
print(total)

7150

In [50]:
#Question 3 - Find out if you spent exactly 2000 in any month
for index, (month, expense) in enumerate(expenses):
    if expense == 2000:
        print(f"Yes - month => {month}")
    else:
        print("No")

No
No
No
No
No

In [51]:
#Question 4 - Add the month of june expense = 1980 dollars
expenses.append(("June", 1980))
print(expenses)

[('January', 2200), ('February', 2350), ('March', 2600), ('April', 2130), ('May', 2190), ('June', 1980)]

In [54]:
updated_april = ("April", expenses[3][1] - 200)
expenses[3] = updated_april
print(expenses)

[('January', 2200), ('February', 2350), ('March', 2600), ('April', 1930), ('May', 2190), ('June', 1980)]